<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="logTest" class="io.inugami.commons.test.logs.LogTestAppender">
        <configuration>
            <forceNewLine>false</forceNewLine>
        </configuration>
        <encoder class="io.inugami.logs.obfuscator.encoder.ObfuscatorEncoder">
            <pattern>%m</pattern>
        </encoder>
    </appender>


    <appender name="logstash" class="io.inugami.logs.obfuscator.appender.JsonAppender">
        <configuration>
            <encodeAsJson>true</encodeAsJson>
            <mode>logstash</mode>
            <host>http://localhost:5054</host>
            <additionalFields>
                {
                "additionalField":"test"
                }
            </additionalFields>
            <headers>
                {
                    "Authorization":"token 7a0364da-657c-4245-8ffc-b5ea896cc484"
                }
            </headers>
        </configuration>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd/MM HH:mm:ss} %5p [%c:%L] - %m%n</pattern>
        </encoder>
    </appender>


    <logger name="org.eclipse.jetty">
        <level value="WARN"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="io.inugami.commons.spring.InugamiSpringApplicationListener">
        <level value="INFO"/>
    </logger>

    <logger name="io.restassured">
        <level value="INFO"/>
    </logger>




    <logger name="org.apache">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>
    <logger name="_org.springframework">
        <level value="INFO"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logTest"/>
        <appender-ref ref="logstash"/>
    </root>

</configuration>