
 body .ui-chkbox .ui-chkbox-box.ui-state-active {
    background-color: #c2023e;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active{
    background-color:   #90193f;	
}


body .ui-chkbox .ui-chkbox-box:not(.ui-state-disabled):hover,
body .ui-chkbox .ui-chkbox-box.ui-state-active:hover,
body .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-focus:hover,
body .ui-chkbox .ui-chkbox-box.ui-state-active:hover,
.inugami .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-focus,
.inugami .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-focus:hover,
body .ui-chkbox .ui-chkbox-box.ui-state-active:hover{
    background-color:   #de5b5f;
    border:none;
    outline: none;
}

.ui-chkbox .ui-chkbox-icon{
    visibility: hidden;
}

body.inugami  .ui-chkbox-label,
body.inugami  .ui-radiobutton-label{
    vertical-align: inherit;
}