body .page-admin .alert-edit .left-panel .sources  .provider{
    padding: 0.3em;
    width: 26em!important;
    border-radius: 1em;
}

body .ui-dropdown .ui-dropdown-trigger {
    border-radius: 1em;
}

body .ui-dropdown .ui-dropdown-label{
    font-size: 1.5em;
}