/*******************************************************************************
********************************************************************************
**
** 						               ROOT - COMPONENTS
**
********************************************************************************
*******************************************************************************/
@import "components_properties_editor.css";
@import "components_carousel.css";
@import "component-curve-chart.css";
@import "component-server-state.css";
@import "component-clock.css";

@import "components-jira-issues.css";
@import "component-gitlab.css";
@import "component-jenkins.css";

@import "p-button.css";

#page-ruler-toolbar.page-ruler-top{
  top : 20px !important;
}
.layout-ruler{
  fill: #b80000;
  fill-opacity: 0.3;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ BASIC
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.list-defs dl dt,
.list-defs dl dd{
  float: left;
}

.list-defs dl dt{
  width: 20%;
}

.list-defs dl dd{
  width: 79%;
}

.dd-end{
  clear: both;
}

.list-defs dl{
  margin: 0;
  margin-top: 0.2em;
}

.list-without-deco{
   list-style: none;
   margin: 0;
   padding: 0;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ plugin-infos
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.plugin-infos .plugin-infos-content .plugin-infos-title{
  font-weight: bold;
}
.plugin-infos header{
  padding-left: 1em;
  border-bottom: 1px solid #aab2bd;
}

.plugin-infos header h3{
  font-size: 140%;
  margin: 0;
  padding-top: 0.5em;
  padding-left: 0.5em;
  font-weight: bold;
}
.plugin-infos header h3,
.plugin-infos header .state-icon{
  float:left;
}
.plugin-infos header .state-icon{
  height: 12px;
  width: 12px;
  border-radius: 16px;
  margin-top: 0.85em;
  background-color:#c12534;
}

.plugin-infos.enable header .state-icon{
  background-color: #40770e;
}


.plugin-infos .plugin-infos-content{
   margin-left: 2em;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ plugin-infos-behaviors
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.plugin-infos-behaviors .plugin-infos-behaviors-title{
  font-weight: bold;
}
.plugin-infos-behaviors .plugin-infos-behaviors-end{
  padding-bottom: 3em;
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ admin-bloc
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.admin-bloc .admin-bloc-title{
  font-size: 110%;
  font-weight: bold;
  color:#25599d;
}
.admin-bloc .admin-bloc-content dl dt{
  padding-left: 1em;
}


.admin-bloc .sub-bloc .admin-bloc-title{
  color:#e94b32;
  font-weight: bold;
  font-size: 110%;
  padding-left: 2em;
}

.admin-bloc .sub-bloc .admin-bloc-content dl dt{
  padding-left: 2em;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ admin-bloc
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.simple-value .title,
.simple-value .simple-value-infos .time,
.simple-value .simple-value-infos .value-area{
  text-align: center;
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ BASIC
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.svg-component .svg-container-end,
.svg-component .svg-component-end{
  clear: both;
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ BASIC
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.value-bloc,
.value-bloc .value-bloc-state{
  height: 128px;
  width: 128px;
}

.value-bloc{
  border: 1px solid;
  font-size: 200%;
  color:#ffffff;
  font-weight: bold;
}

.value-bloc .value-bloc-state{
  background-color: #5f5f5f;
}

.value-bloc .value-bloc-state.info{
  background-color: #40770e;
}
.value-bloc .value-bloc-state.warn{
  background-color: #dc6d00;
}
.value-bloc .value-bloc-state.error{
  background-color: #c12534;
}


.value-bloc .value-bloc-state .value-bloc-icon{

}

.value-bloc .value-bloc-state .value-bloc-value-area{
  text-align: center;
  position: relative;
  top: 1.5em;
}

.value-bloc .value-bloc-state .value-bloc-value-area .value{

}

.value-bloc .value-bloc-state .value-bloc-title{
  text-align: center;
  font-size: 55%;
  position: relative;
  top: 5em;
}





/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ system-notification
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.system-notification{

}
.system-notification .system-notification-container{
  position: fixed;
  height: 52px;
  background-color: #4d4d4d;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;


}
.system-notification .system-notification-container.hidden-messages{
  top: -60px;
  webkit-transition: top 500ms ease-in-out;
  -moz-transition: top 500ms ease-in-out;
  -o-transition: top 500ms ease-in-out;
  transition: top 500ms ease-in-out;
}
.system-notification .system-notification-container.show-messages{
  top: 0;
  webkit-transition: top 500ms ease-in-out;
  -moz-transition: top 500ms ease-in-out;
  -o-transition: top 500ms ease-in-out;
  transition: top 500ms ease-in-out;
}

.system-notification ul {
  margin: 0;
  padding: 0;
  height: 36px;
  list-style: none;
}

.system-notification ul li{
  position: fixed;
}

.system-notification ul li .system-notification-message{
  color: #ffffff;
}

.system-notification ul li .system-notification-message.info{
  color:#b8d7ff;
}
.system-notification ul li .system-notification-message.warn{
  color:#FFCE54
}
.system-notification ul li .system-notification-message.error{
  color:#fb5565;
}

.system-notification ul li .system-notification-message .icon-level{
  display: inline-block;
  height: 40px;
  width: 40px;
  float: left;
}
.system-notification ul li .system-notification-message .icon-level:before{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  font-family: Font Awesome\ 5 Free;
  box-sizing: inherit;
  padding-top: 4px;
}
.system-notification ul li .system-notification-message .icon-level.info:before{
  content: "\f05a";
}
.system-notification ul li .system-notification-message .icon-level.warn:before{
  content: "\f06a";
}
.system-notification ul li .system-notification-message .icon-level.error:before{
  content: "\f057";
}

.system-notification ul li .system-notification-message .message-label{
  display: inline-block;
  height: 30px;
}

.system-notification .system-notification-footer{
  height: 6px;
  position: relative;
  top: 11px;
  background-color: #ffffff;
  border-top:1px solid #4d4d4d;
  border-bottom:1px solid #4d4d4d;
  background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAFiAAABYgBvy9/HgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAC8SURBVCiRpcy9DcIwEMXxd2SX3B40NOfswlcHJIEWwi6xBwAJIWa4MeiQkExDmsgxBv7te/qRiJTOuRoDGWOmAJqhvV/GzKc8z6Gq59BBVW/MfAcwSQFHAEBElYiUQydr7RHALBnsUGPMJoZ67+fJ4Ls6hjrnmk9oH/wbDYEAUBdFsY6hRLT4BoT3fhtD27Y9hNBB8Fc0CnaoiKxiKIBlMggARLSLodbafYdmzFwlomNmfqjqJbSr6pWZny83sFm5ESqAkwAAAABJRU5ErkJggg==');
  -webkit-box-shadow: 0px 0 15px 0px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 0 15px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 0 15px 0px rgba(0, 0, 0, 0.65);
}

.system-notification .system-notification-container.info .system-notification-footer{
  background-color: #b8d7ff;
}
.system-notification .system-notification-container.warn .system-notification-footer{
  background-color: #FFCE54;
}
.system-notification .system-notification-container.error .system-notification-footer{
  background-color: #fb5565;
}




/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ alerting-tab
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.alerting-tab{
  position: absolute;
  background-color: #ffffff;

  webkit-transition: bottom 1000ms ease-in-out;
  -moz-transition: bottom 1000ms ease-in-out;
  -o-transition: bottom 1000ms ease-in-out;
  transition: bottom 1000ms ease-in-out;

  -webkit-box-shadow: 0px -6px 34px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px -6px 34px 0px rgba(0,0,0,0.45);
  box-shadow: 0px -6px 34px 0px rgba(0,0,0,0.45);

}
.alerting-tab.close{
  bottom: -5em;
}

.alerting-tab.open{
  bottom: 0em;
}

.alerting-tab .layout-alert-title,
.alerting-tab .layout-nb-messages{
  fill:#ffffff;
}

.alerting-tab .layout-msg-type-icon,
.alerting-tab .layout-msg-type-icon.fa,
.alerting-tab .layout-msg-type-icon.far,
.alerting-tab .layout-msg-type-icon.fas,
.alerting-tag-label .alerting-tag-label-content-icon,
.alerting-tag-label.fa  .alerting-tag-label-content-icon,
.alerting-tag-label.far .alerting-tag-label-content-icon,
.alerting-tag-label.fas .alerting-tag-label-content-icon{
  font-family:Font Awesome\ 5 Free;
}

.alerting-tab .layout-msg-type-icon,
.alerting-tab .layout-msg-type-icon.fa,
.alerting-tab .layout-msg-type-icon.fas,
.alerting-tag-label .alerting-tag-label-content-icon{
  font-weight:900;
}

.alerting-tab .layout-msg-type-icon.far,
.alerting-tag-label.far .alerting-tag-label-content-icon{
  font-weight:400;
}

.alerting-tab .layout-msg-type-icon.fab,
.alerting-tag-label.fab .alerting-tag-label-content-icon{
  font-family:Font Awesome\ 5 Brands;
}


.alerting-tab .layout-msg-type-icon::before{
  color: transparent;
  display: none;
}

.alerting-tab .layout-border-top-area{
  display: none;
}
.alerting-tab .layout-msg-type-background{
  fill: #00a0bb;
  -webkit-transition: fill 0.25s;
  transition: fill 0.25s;
}
.alerting-tab .msg-level.info .layout-msg-type-background,
.alerting-tab .msg-level.info .message,
.alerting-tab .msg-level.info .alerting-tag-label.tag-level-type .alerting-tag-label-content .alerting-tag-label-content-icon{
  fill: #139f65;
  color:#139f65;
}
.alerting-tab .msg-level.warn .layout-msg-type-background,
.alerting-tab .msg-level.warn .message,
.alerting-tab .msg-level.warn .alerting-tag-label.tag-level-type .alerting-tag-label-content .alerting-tag-label-content-icon{
  fill: #ff8500;
  color:#ff8500;
}
.alerting-tab .msg-level.error .layout-msg-type-background,
.alerting-tab .msg-level.error .message,
.alerting-tab .msg-level.error .alerting-tag-label.tag-level-type .alerting-tag-label-content .alerting-tag-label-content-icon{
  fill: #ec5226;
  color:#ec5226;
}


.alerting-tag-label .alerting-tag-label-content-icon{
  fill: #ffffff;
}
.alerting-tag-label .alerting-tag-label-content-label{
  fill: #ffffff;
}

.alerting-tag-label.only-icon .alerting-tag-label-content-icon{
  fill: #2b2b2b;
}

.alerting-tab .alerting-tag-label.tag-level-type .alerting-tag-label-background{
  fill-opacity: 0;
}
.alerting-tab .alerting-tag-label.tag-level-type .alerting-tag-label-content .alerting-tag-label-content-icon {
  fill: #00a0bb;
  font-size: 130% !important;
}

.alerting-tab .alerting-tag-label.alert-datetime .alerting-tag-label-background{
  display: none;
}
.alerting-tab .alerting-tag-label.alert-datetime .alerting-tag-label-content .alerting-tag-label-content-label{
  fill: #000000;
}

.alerting-tag-label.only-icon .alerting-tag-label-background{
  fill-opacity: 0;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ input-bloc
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.input-bloc .input-bloc-label,
.input-bloc .input-bloc-data{
  width: 100%;
  float: left;
}
.input-bloc .input-bloc-end{
  clear: both;
}

.input-bloc .input-bloc-label{
  color: transparent;
  position: relative;
  left: -0.7em;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.input-bloc .input-bloc-label.show{
  color: #4d4d4d;
  
}
.input-bloc .input-bloc-label .input-bloc-label-txt{
  display: none;
}
.input-bloc .input-bloc-label.show .input-bloc-label-txt{
  display: inline;
}
.input-bloc .input-bloc-label .input-bloc-label-end::after{
  content :":";
  display: none;
}
.input-bloc .input-bloc-label.show .input-bloc-label-end::after{
  display: inline;
}

.input-bloc input{
  border: 0;
  width: 100%;
  border-bottom: 1px solid;
  border-color:  #b5b5b5;
  outline:0;
}

.input-bloc input:focus{
  border-color:  #1d487a;
}

.input-bloc.error input:focus{
  border-color:  #d30202;
  color:#d30202;
}
.input-bloc.error input{
  border-color:  #990000;
  color:#990000;
}

.input-bloc.disabled input{
  background-color: transparent;
  font-weight: bolder;
  font-style: italic;
  color: #000000;
  cursor: default;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ plugin-infos
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.dashboard .content .container-fluid .ui-growl{
  position: absolute;
  top: 3em;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ plugin-infos
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
nav.dynamic-sections {
   
}


nav.dynamic-sections ul{
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid;
}

nav.dynamic-sections li{
  float: left;
  border: 1px solid;
  padding: 0.5em;
  margin-right: 0.5em;
  margin-bottom: -2px;
  cursor: pointer;
  background-color: #f1f1f1;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

nav.dynamic-sections li.active{
  border-bottom: 2px solid #ffffff;
  background-color: #ffffff;
}

nav.dynamic-sections .dynamic-sections-end{
  clear: both;
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ value-chart
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.value-chart{
  -webkit-border-bottom-right-radius: 5%;
  -webkit-border-bottom-left-radius: 5%;
  -moz-border-radius-bottomright: 5%;
  -moz-border-radius-bottomleft: 5%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  overflow: hidden;
}
.value-chart .value-chart-icon i{
  font-size: 200%;
  text-align: center;
}
.value-chart .value-chart-value{
  font-size: 235%;
}




.value-chart .value-chart-value .value-chart-value-value{
  text-align: center;
}

.value-chart .value-chart-value .value-chart-value-unit{
  font-size: 80%;
}
.value-chart .value-chart-value .value-chart-value-end{
  clear: both;
}

.value-chart .value-chart-curves-layout .curve-path{
  fill:transparent;
  stroke: #000000;
  stroke-width: 1.5%;
}


.value-chart .value-chart-area-layout .area-path{
  stroke: transparent;
  fill: #4d4d4d5e;
  -webkit-transition: fill 1s; /* Safari */
  transition:         fill 1s;
}



.value-chart .value-chart-icon,
.value-chart .value-chart-value,
.value-chart .value-chart-alert .icon,
.value-chart .value-chart-curves-layout .curve-path{
  -webkit-transition: color 1s, stroke 1s; /* Safari */
  transition:         color 1s, stroke 1s;
}





.value-chart .WARN .value-chart-icon,
.value-chart .WARN .value-chart-value,
.value-chart .WARN .value-chart-alert .icon,
.value-chart .WARN .value-chart-curves-layout .curve-path{
    color : #ff8500;
    stroke: #ff8500;
}

.value-chart .WARN .value-chart-area-layout .area-path{
  fill: #ff850025;
}

.value-chart .ERROR .value-chart-icon,
.value-chart .ERROR .value-chart-value,
.value-chart .ERROR .value-chart-alert .icon,
.value-chart .ERROR .value-chart-curves-layout .curve-path{
    color : #ec5226;
    stroke: #ec5226;  
}
.value-chart .ERROR .value-chart-area-layout .area-path{
    fill: #b8000025;
}


.value-chart .FATAL .value-chart-icon,
.value-chart .FATAL .value-chart-value,
.value-chart .FATAL .value-chart-alert .icon,
.value-chart .FATAL .value-chart-curves-layout .curve-path{
  color : #ec5226;
  stroke: #ec5226;
}

.value-chart .FATAL .value-chart-area-layout .area-path{
  fill: #ff000025;
}

.value-chart .value-chart-alert .icon,
.alert-icon{
  font-family: Font Awesome\ 5 Free;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  font-size: 100%;
}

.value-chart .value-chart-alert .icon{
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: -1em;
  position: relative;
  top: -1em;
  font-size: 180%;
}
.value-chart .WARN .value-chart-alert .icon:before,
.alerting.warn .alert-icon:before{
  content: "\f06a";
}

.value-chart .ERROR .value-chart-alert .icon:before,
.alerting.error .alert-icon:before{
  content: "\f057";
}
.value-chart .FATAL .value-chart-alert .icon:before,
.alerting.fatal .alert-icon:before{
  content: "\f057";
}


.alerting.no-alert,
.alerting.info{
  color: #272727;
}
.alerting.warn{
  color : #ff8500;
}

.alerting.error{
  color : #b80000;
}
.alerting.fatal{
  color : #ff0000;
}

