
.i-svg-generic-map .label{
  font-style:normal;
  font-weight:bold;
  font-size:8px;
  fill:#000000;
  stroke:none;
}

.i-svg-generic-map .sublabel{
  font-style:normal;
  font-weight:normal;
  font-size:8px;
  fill:#7b7b7b;
  stroke:none;
}

.i-svg-generic-map .top{
  fill:#babdb6;
}
.i-svg-generic-map .top-border{
  fill:#babdb6;
  stroke:#666666;
  stroke-opacity:1;
  stroke-width:0.4;
  stroke-miterlimit:4;
  stroke-linecap:round;
  stroke-linejoin:round;
}



.i-svg-generic-map .light{
  fill:#eeeeec;
}

.i-svg-generic-map .light-border{
  fill:#eeeeec;
  stroke:#666666;
  stroke-opacity:1;
  stroke-width:0.4;
  stroke-miterlimit:4;
  stroke-linecap:round;
  stroke-linejoin:round;
}

.i-svg-generic-map .shadow{
  fill:#555753;
}

.i-svg-generic-map .shadow-border{
  fill:#555753;
  stroke:#666666;
  stroke-opacity:1;
  stroke-width:0.4;
  stroke-miterlimit:4;
  stroke-linecap:round;
  stroke-linejoin:round;
}
.i-svg-generic-map .screen{
  fill:#3e3e3e;
}

.i-svg-generic-map .button{
  fill:#35404b;
}

.i-svg-generic-map .shadow-shape{
  fill:#333366;
}

.i-svg-generic-map .border{
  fill:none;
  stroke:#666666;
  stroke-opacity:1;
  stroke-width:0.4;
  stroke-miterlimit:4;
  stroke-linecap:round;
  stroke-linejoin:round;
}


.i-svg-generic-map .border-small{
  fill:none;
  stroke:#666666;
  stroke-opacity:1;
  stroke-width:0.1;
  stroke-miterlimit:4;
  stroke-linecap:round;
  stroke-linejoin:round;
}

.i-svg-generic-map .ios-logo{
  fill:#0066cc;
}

.i-svg-generic-map .android-logo{
  fill:#66cc33;
}
.i-svg-generic-map .top-in-compo{
  fill:#a1a59c;
}

.i-svg-generic-map .top-in-compo-border{
  fill:#a1a59c;
  stroke:#666666;
  stroke-opacity:1;
  stroke-width:0.4;
  stroke-miterlimit:4;
  stroke-linecap:round;
  stroke-linejoin:round;
}
.i-svg-generic-map .shadow-in-compo{
  fill:#24292b;
}

.i-svg-generic-map .light-in-compo{
  fill:#dededa;
}

.i-svg-generic-map .screen{
  fill:#3e3e3e;
}

.i-svg-generic-map .path-connector{
  fill:none;
  stroke:#000000;
  stroke-width:1.80
  ;stroke-linecap:round;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;stroke-opacity:1
}





.i-svg-generic-map .on-over .top,
.i-svg-generic-map .on-over .top-border{
  fill:#d6dad1;
}

.i-svg-generic-map .on-over .light,
.i-svg-generic-map .on-over .light-border{
  fill:#fcfcfa;
}

.i-svg-generic-map .on-over .shadow,
.i-svg-generic-map .on-over .shadow-border{
  fill:#7c8079;
}


.i-svg-generic-map .on-over .top-in-compo{
  fill:#c3c9bd;
}

.i-svg-generic-map .on-over .top-in-compo-border,
.i-svg-generic-map .on-over .shadow-in-compo{
  fill:#414b4e;
}

.i-svg-generic-map .on-over .light-in-compo{
  fill:#f5f5f3;
}
.i-svg-generic-map  .on-over.path-connector{
  stroke:#0d42b6;
}