.ui-chips {
height: 3em;
display: inline-block;
}
.ui-chips .ui-inputtext,
.ui-chips .ui-inputtext.ui-state-focus {
    border-style: none;
    position: relative;
    height: 3em;
    top: 1em;
    display: inline;
}

.ui-chips .ui-chips-token {
    height: 2em;
    background-color: white; 
    border-style: solid; 
    border-width: 1px;
    border-color: black;
    border-radius: 2em;
    color: black;
    font-size: 1.25em;
}

.ui-chips .ui-chips-token-label{
    padding-right: 1em;
}

.ui-chips .ui-chips-token .ui-chips-token-icon:before {
    content: "\f00d";
    font-size: 1em;
    color: black;
   
}