
.jenkins-jobs{
    padding-left: 0.5em;
    font-size: 120%;
  }
  .jenkins-jobs .column-list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .jenkins-jobs .column-list .job-state{
    clear: both;
  }
  
  .jenkins-jobs .column-list .job-state .item-icon,
  .jenkins-jobs .column-list .job-state .item-name{
    display: block;
    float: left;
  }
  
  .jenkins-jobs .column-list .job-state .item-icon{
    height: 1em;
    width: 1em;
    border-radius: 100%;
    background-color:  #bfbdbd;
    margin-right: 1em;
    margin-top: 0.2em;
    -webkit-transition: background-color  0.5s;
    transition:  background-color   0.5s;
    display: none;
  }
  .jenkins-jobs .column-list .job-state .item-name{
    -webkit-transition: color  0.5s;
    transition: color   0.5s;
  }
  .jenkins-jobs .column-list .job-state .item-end{
    display: block;
    clear: both;
    width: 100%;
    height: 2px;
    animation-timing-function: ease-in-out;
  }
  
  /* blue */
  .jenkins-jobs .column-list .job-state.blue .item-name{
    color:#2574A9;
  }
  .jenkins-jobs .column-list .job-state.blue .item-icon{
    background-color:  #2574A9;
  }
  
  
  .jenkins-jobs .column-list .job-state.blue_anime .item-name{
    color:#2574A9;
  }
  .jenkins-jobs .column-list .job-state.blue_anime .item-end{
    animation: blueShadowAnimation 2s infinite;
    background-color: #2574A9;
  }
  
  .jenkins-jobs .column-list .job-state.blue_anime .item-icon{
    background-color: transparent;
  }
  
  
  /* red */
  .jenkins-jobs .column-list .job-state.red .item-name{
    color:#b61a40;
  }
  .jenkins-jobs .column-list .job-state.red .item-icon{
    background-color:  #b61a40;
  }
  
  .jenkins-jobs .column-list .job-state.red_anime .item-name,
  .jenkins-jobs .column-list .job-state.aborted_anime .item-name{
    color:#b61a40;
  }
  .jenkins-jobs .column-list .job-state.red_anime .item-end,
  .jenkins-jobs .column-list .job-state.aborted_anime .item-end{
    animation: redShadowAnimation 2s infinite;
    background-color: #b61a40;
  }
  
  .jenkins-jobs .column-list .job-state.red_anime .item-icon,
  .jenkins-jobs .column-list .job-state.aborted_anime .item-icon{
    background-color: transparent;
  }
  
  /* yellow */
  .jenkins-jobs .column-list .job-state.yellow .item-name{
    color:#b6b31a;
  }
  .jenkins-jobs .column-list .job-state.yellow .item-icon{
    background-color:  #b6b31a;
  }
  
  .jenkins-jobs .column-list .job-state.yellow_anime .item-name{
    color:#5c5a00;
  }
  .jenkins-jobs .column-list .job-state.yellow_anime .item-end{
    animation: yellowShadowAnimation 2s infinite;
    background-color: #b6b31a;
  }
  
  .jenkins-jobs .column-list .job-state.yellow_anime .item-icon{
    background-color: transparent;
  }
  
  /* grey */
  .jenkins-jobs .column-list .job-state.grey .item-name{
    color:grey;
  }
  .jenkins-jobs .column-list .job-state.grey .item-icon{
    background-color:  grey;
  }
  .jenkins-jobs .column-list .job-state.grey_anime .item-name{
    color:#464646;
  }
  .jenkins-jobs .column-list .job-state.grey_anime .item-end{
    animation: greyShadowAnimation 2s infinite;
    background-color: grey;
  }
  
  .jenkins-jobs .column-list .job-state.grey_anime .item-icon{
    background-color: transparent;
  }
  
  
  
  @keyframes blueShadowAnimation {
    0% {
      -moz-box-shadow: 0px 0px 0px 0px #2574A9;
      -webkit-box-shadow: 0px 0px 0px 0px #2574A9;
      -o-box-shadow: 0px 0px 0px 0px #2574A9;
      box-shadow: 0 0 0 0 #2574A9;
    }
    50%{
      -moz-box-shadow: 0px 0px 0.5em 0px #2574A9;
      -webkit-box-shadow: 0px 0px 0.5em 0px #2574A9;
      -o-box-shadow: 0px 0px 0.5em 0px #2574A9;
      box-shadow: 0px 0px 0.5em 0px #2574A9;
    }
    100% {
      -moz-box-shadow: 0px 0px 0px 0px #2574A9;
      -webkit-box-shadow: 0px 0px 0px 0px #2574A9;
      -o-box-shadow: 0px 0px 0px 0px #2574A9;
      box-shadow: 0px 0px 0px 0px #2574A9;
    }
  }
  
  
  @keyframes redShadowAnimation {
    0% {
      -moz-box-shadow: 0px 0px 0px 0px #b61a40;
      -webkit-box-shadow: 0px 0px 0px 0px #b61a40;
      -o-box-shadow: 0px 0px 0px 0px #b61a40;
      box-shadow: 0px 0px 0px 0px #b61a40;
    }
    50%{
      -moz-box-shadow: 0px 0px 10px 0px #b61a40;
      -webkit-box-shadow: 0px 0px 10px 0px #b61a40;
      -o-box-shadow: 0px 0px 10px 0px #b61a40;
      box-shadow: 0px 0px 10px 0px #b61a40;
    }
    100% {
      -moz-box-shadow: 0px 0px 0px 0px #b61a40;
      -webkit-box-shadow: 0px 0px 0px 0px #b61a40;
      -o-box-shadow: 0px 0px 0px 0px #b61a40;
      box-shadow: 0px 0px 0px 0px #b61a40;
    }
  }
  
  
  @keyframes yellowShadowAnimation {
    0% {
      -moz-box-shadow: 0px 0px 0px 0px #b6b31a;
      -webkit-box-shadow: 0px 0px 0px 0px #b6b31a;
      -o-box-shadow: 0px 0px 0px 0px #b6b31a;
      box-shadow: 0px 0px 0px 0px #b6b31a;
    }
    50%{
      -moz-box-shadow: 0px 0px 10px 0px #b6b31a;
      -webkit-box-shadow: 0px 0px 10px 0px #b6b31a;
      -o-box-shadow: 0px 0px 10px 0px #b6b31a;
      box-shadow: 0px 0px 10px 0px #b6b31a;
    }
    100% {
      -moz-box-shadow: 0px 0px 0px 0px #b6b31a;
      -webkit-box-shadow: 0px 0px 0px 0px #b6b31a;
      -o-box-shadow: 0px 0px 0px 0px #b6b31a;
      box-shadow: 0px 0px 0px 0px #b6b31a;
    }
  }
  
  
  @keyframes greyShadowAnimation {
    0% {
      -moz-box-shadow: 0px 0px 0px 0px grey;
      -webkit-box-shadow: 0px 0px 0px 0px grey;
      -o-box-shadow: 0px 0px 0px 0px grey;
      box-shadow: 0px 0px 0px 0px grey;
    }
    50%{
      -moz-box-shadow: 0px 0px 10px 0px grey;
      -webkit-box-shadow: 0px 0px 10px 0px grey;
      -o-box-shadow: 0px 0px 10px 0px grey;
      box-shadow: 0px 0px 10px 0px grey;
    }
    100% {
      -moz-box-shadow: 0px 0px 0px 0px grey;
      -webkit-box-shadow: 0px 0px 0px 0px grey;
      -o-box-shadow: 0px 0px 0px 0px grey;
      box-shadow: 0px 0px 0px 0px grey;
    }
  }
