.active-action.ui-button, .active-action.ui-button:focus {
    background-color: white;
    border-radius: 2em;
    border-style: solid;
    border-color: #c12534;
    
}
.active-action.ui-button:enabled:hover{
    background-color: #ffe2c6;
}
.active-action.ui-button .ui-button-text { 
    color : #c12534;
}

.active-action.ui-button.ui-button:enabled:active{
    background-color: #ef9640; 
}

.active-action [class*=ui-button-icon] {
    color: #c12534;
}

.active-action[label] [class*=ui-button-icon] {
    font-size: inherit;
}


.default-action.ui-button , .default-action.ui-button:focus{
    background-color: white;
    border-radius: 2em;
    border-style: solid;
    border-color: black;
    
}

.default-action.ui-button:enabled:hover{
    background-color:#ffe2c6; 
}

.default-action.ui-button.ui-button:enabled:active{
    background-color: #ef9640; 
}

.default-action .ui-button-text {
    color : black;
}

.default-action:not([label]) [class*=ui-button-icon],.active-action:not([label]) [class*=ui-button-icon],.full-active-action:not([label]) [class*=ui-button-icon] {
    font-size: 2em;
}

.default-action [class*=ui-button-icon] {
    color: black;
    
}

.full-active-action.ui-button, .full-active-action.ui-button:focus{
    background-color: #771d11;
    border-radius: 2em;
    border-style: solid;
    border-color: #771d11;
}
.full-active-action.ui-button:enabled:hover{
    background-color: #b52e1c;
}

.full-active-action.ui-button-text { 
    color : white;
    
}

.full-active-action.ui-button.ui-button:enabled:active{
    background-color: #ef9640; 
}

.full-active-action [class*=ui-button-icon] {
    color: white;
}

.full-active-action.ui-button:not([label]),.default-action:not([label]), .active-action:not([label]) {
    width: 3em;
    height: 3em;;
}

.small-button.ui-button[label] {
    
    height: 1.5em;
}
.small-button.ui-button[label] .ui-button-text {
    position: relative;
    bottom: 0.5em;
}

.small-button.ui-button:not([label]) {
    width: 1.5em;
    height: 1.5em;
}

.small-button.ui-button .ui-button-icon-left{
    font-size: 1em;
}
