
/*******************************************************************************
* page-root-home
*******************************************************************************/
.page-root-home .plugin-menu ul{
    list-style: none;
 }
 
 .page-root-home .plugin-menu a{
    height: 12em;
    width: 12em;
    display: block;
    background-color:#f5f7fa;
 }
 .page-root-home .plugin-menu  a,
 .page-root-home .plugin-menu  a .label{
   color: #22313F;
 }
 
 .page-root-home .plugin-menu  a .label{
   margin-top: 4em;
   float: left;
   width: 100%;
   display: block;
   text-align: center;
   font-size: 130%;
 }
 
 .page-root-home .plugin-menu ul li{
   float:  left;
   margin-left: 2em;
   margin-bottom: 2em;
 }
 .page-root-home .plugin-menu ul li:first{
   margin-left: 0em;
 }
 