.checkstyle
.classpath
target
.idea/
*.iml
*.iws
!.idea/runConfigurations/
.metadata
.project
.settings
.directory
.springBeans
.DS_Store
*.bak
*.class
*.iml
*.launch
*.log
*.old
*.orig
*.prefs
*.rej
*.ser
*~
*.war
*.ear
*.bin
*.exe
*.zip
*.7z
*.tar
*.tar.gz
*.tgz
bin
dummy.csv
target
node_modules
bower_components
dist-ts
.idea
.tern-project
.npmignore
dependency-reduced-pom.xml
.vscode/
*.factorypath