*/vendors* linguist-vendored
inugami_webapp/src/main/webapp/js/vendors* linguist-vendored
inugami_webapp/src/main/webapp/css/core/bootstrap* linguist-vendored
inugami_webapp/src/main/webapp/fonts/*  linguist-vendored