<?xml version="1.0" encoding="UTF-8"?>
<configuration>



    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd/MM HH:mm:ss} %5p [%c:%L] [%X{deviceIdentifier}|%X{correlation_id}|%X{request_id}|%X{conversation_id}|%X{service}]- %m%n</pattern>
        </encoder>

    </appender>



    <logger name="org.quartz" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.glassfish.jersey.media.sse" additivity="false">
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </logger>


    <logger name="io.inugami.datasource.jdbc">
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </logger>


    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>