<div class="admin-view-alerts">
<!--
*****************************************************************************************
* EDIT
*****************************************************************************************
-->
<p-growl [(value)]="msgs" life="5000"></p-growl>


<!--
*****************************************************************************************
* TAB
*****************************************************************************************
-->
<nav class="dynamic-sections">
    <ul>
        <li [class.active]="isActiveSection('table')" (click)="setActiveSection('table')">
            <i class="icon far fa-bell"></i>
            <span class="title"><msg key="alert.table.action.title"></msg></span>
        </li>

        <li [class.active]="isActiveSection('createView')" (click)="showNewAlert()">
            <i class="icon fas fa-plus"></i>
            <span><msg key="alert.create.action.title"></msg></span>
        </li>
        <div class="dynamic-sections-end"></div>
    </ul>
</nav>



<!--
*****************************************************************************************
* CREATE NEW ALERT
*****************************************************************************************
-->
<article *ngIf="isActiveSection('createView')" class="createView">
    <fieldset>
        <legend><msg key="alert.create.title"></msg></legend>
        <admin-view-alert-edit  [(ngModel)]="selectedAlert" 
                                (onSuccess)="onMessage($event)"
                                (onError)="onMessage($event)"
                                (onCleanMessage)="cleanMessage()">
        </admin-view-alert-edit>
    </fieldset>
</article>


<!--
*****************************************************************************************
* TABLE
*****************************************************************************************
-->
<article  *ngIf="isActiveSection('table')"  class="table">
    <fieldset>
        <h2><msg key="alert.table.title"></msg></h2>
        
        <p-dataTable [value]="alerts"
                        [rows]="10"
                        [paginator]="true"
                        [pageLinks]="3"
                        [rowsPerPageOptions]="[5,10,20,50]"
                        selectionMode="single"
                        (onRowSelect)="onAlertSelect($event)"
                        (onRowUnselect)="unSelectedAlert()" >

            <p-column field="created"    [header]="msgLabels.created"   [sortable]="true" >
                <ng-template let-alert="rowData" pTemplate="body">{{formateDate(alert.created)}}</ng-template>
            </p-column>
            <p-column field="uid"        [header]="msgLabels.uid"       [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
            <p-column field="level"      [header]="msgLabels.level"     [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
            <p-column field="label"      [header]="msgLabels.label"     [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
            <p-column field="label"      [header]="msgLabels.actions">
                <ng-template let-alert="rowData" pTemplate="body">
                    <input-switch [(ngModel)]="alert.enable" (onChange)="onAlertActivationChange(alert)" labelOn="on" labelOff="off"></input-switch>
                    <button pButton type="button" (click)="deleteAlert(alert)" icon="far fa-trash-alt" class="active-action" ></button>
                </ng-template>
            </p-column>

        </p-dataTable>
    </fieldset>
    
</article>


</div>
