<form [formGroup]="alertForm" (ngSubmit)="onSubmit()">
    <div [ngClass]="' alert-edit '" [class]="styleClass">
        <div class="left-panel">
            <div class="form-group row" *ngIf="innerValue">
                <div class="alert-name">
                    <input-bloc  [validator]="validators.notEmptyString"
                    [disabled]="edit" label="alert.edit.alert.name" formControlName="name"></input-bloc>
                    <span class="file-input">
                        <button pButton type=button class="active-action" icon="fas fa-folder-open" (click)="fileinput.click()"></button>
                        <input type=file (change)="fileChanged($event)" #fileinput>
                    </span>
                </div>
                  
                <div class="alert-duration-visibility">
                    <input-bloc  [validator]="validators.notNegativeNumber" styleClass = "duration"
                        label="alert.edit.alert.duration" type="number" formControlName="duration"></input-bloc><!-- [(ngModel)]="innerValue.duration" -->
                
                    <input-bloc  label="alert.edit.alert.channel" styleClass = "visibility"
                        [validator]="validators.notEmptyString" formControlName=visibility></input-bloc><!-- [(ngModel)]="innerValue.channel" -->
                    <input-bloc  label="alert.edit.alert.label" styleClass = "main-message"
                        [validator]="validators.notEmptyString" formControlName="mainMessage"></input-bloc>
                </div>
                    
            </div>
            <div class="detailed-message">
                 <!-- [(ngModel)]="innerValue.label" -->
                <input-bloc  label="alert.edit.alert.sub.label" formControlName="detailedMessage"></input-bloc> <!-- [(ngModel)]="innerValue.subLabel" -->
            </div>

            <div class="form-group data-display">
                <label>Data</label>
                <textarea disabled="disabled">{{detailData}}</textarea>
            </div>
            <div class="tag">
                    <msg key="alert.edit.tag"></msg>:
                <p-chips formControlName="tag"></p-chips>
            </div>
            <div class="channel-selector">
                <msg key="alert.edit.channel"></msg>:
                <span *ngFor="let channel of channels; index as i" class="channel" formArrayName="channelsData">
                    <p-checkbox  value={{channel}} [formControlName]="i"></p-checkbox>{{channel}} <!--  [(ngModel)]=channelsData -->
                </span>
            </div>
            <p-panel header="Sources" formGroupName="sources">
                <div>
                    <input-bloc label="alert.edit.sources.data.provider" formControlName="dataProvider"></input-bloc>
                    <input-bloc label="alert.edit.sources.data.interval" formControlName="interval"></input-bloc>
                </div>
                <div>
                    <input-bloc label="alert.edit.sources.from" formControlName="from"></input-bloc>
                    <input-bloc label="alert.edit.sources.to" formControlName="to"></input-bloc>
                </div>
                <div class="query-text-area">
                    <textarea pInputTextarea formControlName="query"></textarea>
                    <msg key="alert.edit.query"></msg>
                </div>
            </p-panel>
        </div>


        <div class="right-panel">
            <p-panel header="Activation">
                <msg key="alert.edit.activation.days"></msg>
                <div formArrayName="activation" class="activation">
                    <div *ngFor="let activationLine of alertForm.get('activation').controls; index as i" class="day-and-time-line" [formGroupName]="i">
                        <input-days-selector formControlName="days" ></input-days-selector> <!-- [(ngModel)]="lineData.days" -->
                        <input-time-slots formControlName="timeSlots"></input-time-slots><!-- [(ngModel)]="lineData.timeSlots" -->
                        <button pButton type="button" class="active-action" icon="fa fa-trash-alt"
                            (click)="removeActivationLine(i)"></button>
                    </div>
                </div>
                <button pButton type="button" class="active-action" (click)="addActivationLine()" msg>
                    <msg key="alert.edit.activation.add"></msg>
                </button>
                <p-tabView>
                    <p-tabPanel header="Seuil" class="levels-setting">
                        <div>
                            <span class="dynamic">
                                <p-checkbox (onChange)="setGraphMode($event,graph)"></p-checkbox>
                                <msg key="alert.edit.dynamic.levels.dynamic"></msg>
                            </span>
                                <input-bloc label="alert.edit.dynamic.levels.minValue" type="number" styleClass="min-value" (enter)="setGraphMinValue($event,graph)"></input-bloc>
                                <input-bloc label="alert.edit.dynamic.levels.maxValue" type="number" styleClass="min-value" (enter)="setGraphMaxValue($event,graph)"></input-bloc>
                                <input-bloc label="alert.edit.dynamic.levels.precision" type="number" styleClass="precision-value" (enter)="setFormatter($event)"></input-bloc>
                        </div>

                        <div formArrayName="levelPointsBeforeTriggered" class="levels">
                            <div class="dynamic-levels-levels" *ngFor="let level of alertForm.get('levelPointsBeforeTriggered').controls; index as i" [formGroupName]="i">
                                <input-bloc disabled=true formControlName="points" label="alert.edit.dynamic.levels.points.before.triggered" styeClass="points"></input-bloc>
                                <input-bloc disabled=true formControlName="name" label="alert.edit.dynamic.levels.add.level" styeClass="name"></input-bloc>
                                <span class="delete"><button pButton type="button" class="active-action" icon="fas fa-minus"
                                        (click)="removeDynamicLevelsLevel(i,graph)"></button></span>
                            </div>
                        </div>
                        <div class="add-level">
                                <input-bloc label="alert.edit.dynamic.levels.points.before.triggered" (ngModelChange)="setPointsBeforeTriggered($event)" styeClass="points"
                                [validator]="validators.notEmptyString" type="number"><!-- [(ngModel)]="addedLevel.pointsBeforeTriggered" -->
                           </input-bloc>
                           <input-bloc label="alert.edit.dynamic.levels.add.level" (ngModelChange)="setLevelName($event)" styeClass="name"
                               [validator]="validators.notEmptyString" ></input-bloc><!-- [(ngModel)]="addedLevel.name" -->
                           <button pButton type="button" class="active-action" icon="fas fa-plus"
                               (click)="addDynamicLevelsLevel(graph)"></button>
                        </div>
                        <div class="graph">
                            <dynamic-levels width=0.5 height=0.4 [formatter]="formatter" formControlName="dynamicLevels" #graph></dynamic-levels>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Scripts">
                        <textarea pInputTextarea formControlName="scripts"></textarea>
                    </p-tabPanel>
                </p-tabView>
            </p-panel>
            <div class="btn-group" role="group">
                <button pButton type="button" (click)="close()" class="default-action" msg>
                    <msg key="action.cancel"></msg>
                </button>

                <button pButton type="button" msg (click)="saveAlertAndClose()" class="active-action">
                    <msg key="action.save"></msg>
                </button>

                <button pButton type="button" msg (click)="saveAlert()" class="full-active-action" *ngIf="isNotEdit">
                    <msg key="action.save.and.continue"></msg>
                </button>
            </div>
        </div>



        <div class="admin-view-alert-edit-end"></div>
    </div>
</form>