<div class="simple-event-infos list-defs" *ngIf="innerValue">
  <dl>
      <dt>Name</dt>
      <dd>{{innerValue.name}}</dd>
      <div class="dd-end"></div>
  </dl>
  <dl *ngIf="innerValue.provider">
      <dt>Provider</dt>
      <dd>{{innerValue.provider}}</dd>
      <div class="dd-end"></div>
  </dl>
  <dl *ngIf="innerValue.parent">
      <dt>Parent</dt>
      <dd>{{innerValue.parent}}</dd>
      <div class="dd-end"></div>
  </dl>
  <dl *ngIf="hasTimeShift">
      <dt>Time</dt>
      <dd>
        <dl style="padding: 0;">
            <span *ngIf="innerValue.from">
              <dt>From</dt>
              <dd>{{innerValue.from}}</dd>
            </span>
            <span *ngIf="innerValue.from">
              <dt>Until</dt>
              <dd>{{innerValue.until}}</dd>
            </span>
            <div class="end-dd"></div>
        </dl>
      </dd>
      <div class="dd-end"></div>
  </dl>
  <dl>
      <dt>Query</dt>
      <dd>{{innerValue.query}}</dd>
      <div class="dd-end"></div>
  </dl>

</div>
