<div class="page-root-home">
	<h1>Dashboards</h1>
 
	<article>
		<header>
					<simple-value  [(ngModel)]="foobar" ></simple-value>
		</header>

		<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		+ Plugins menu
		+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
		<aside class="plugin-menu">
		  <menu>

				<ul *ngIf="showLink">
					<li *ngFor="let pluginLink of pluginsLinks">
					  <a  routerLinkActive="active"
					      [routerLink]="pluginLink.path"
					      [ngClass]="pluginLink.styleClass">
					        <span class="icon"></span>
					        <span class="label">{{pluginLink.title}}</span>
					  </a>
					</li>

					<div class="clear"></div>
				</ul>
		  </menu>
		</aside>



	</article>
</div>