<div class="event-infos list-defs" *ngIf="innerValue">


  <admin-bloc [title]="innerValue.name">
    <dl>
      <dt>Enable</dt>
      <dd><input type="checkbox" [checked]="innerValue.enable" /></dd>
      <div class="dd-end"></div>
    </dl>
    <dl>
      <dt>GAV</dt>
      <dd>
          <span class="gav-group-id">{{innerValue.gav.groupId}}</span>
          <span class="gav-artifact-id">{{innerValue.gav.artifactId}}</span>
          <span class="gav-version"   *ngIf="innerValue.gav.version">{{innerValue.gav.version}}</span>
          <span class="gav-qualifier" *ngIf="innerValue.gav.qualifier">{{innerValue.gav.qualifier}}</span>
          <div class="dd-end"></div>
      </dd>

    </dl>
    <dl>
      <dt>Configuration file</dt>
      <dd>{{innerValue.configFile}}</dd>
      <div class="dd-end"></div>
    </dl>

    <admin-bloc title="Simple events" *ngIf="hasSimpleEvents" styleClass="sub-bloc">
      <div *ngFor="let simpleEvent of innerValue.simpleEvents; let simpleEventIndex = index">
        <simple-event-infos  [(ngModel)]="innerValue.simpleEvents[simpleEventIndex]" ></simple-event-infos>
      </div>
    </admin-bloc>

  </admin-bloc>

</div>
