<div>
    <p-checkbox (click)="addNewData('test')" [tabindex]="tabindex"></p-checkbox>
    <button pButton type="button" label="No"></button>

    static : <p-checkbox binary="true" [(ngModel)]="staticMode"></p-checkbox>
    min : <input type="number" [(ngModel)]="minValue">
    max : <input type="number" [(ngModel)]="maxValue">
    delete : <input type="button" (click)="deleteLine('test')">
    <div class="svg-component">
        <div [ngClass]="componentBaseStyleClass" [class]="styleClass">
            <div class="svg-container" [style.height.px]="size.svg.height" [style.width.px]="size.svg.width" #container>
            </div>

            <div class="svg-container-end"></div>
        </div>
        <div class="svg-component-end"></div>
    </div>
</div>