.inugami-input-time-slots {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.inugami-input-time-slots .action.add {
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: whitesmoke; 
    margin-left: 2em;
    border-radius: 50%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    
    
}
.inugami-input-time-slots .time-slots{
    position: relative;
}

.inugami-input-time-slots .time-slots .time-slot .action.delete {
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    right:-0.3em;
    top:-0.3em;
    border-radius: 50%;
    background-color: rgb(233, 109, 109);
    border-style: solid;
    border-width: 1px;
    
    
}

.inugami-input-time-slots .time-slots .time-slot{
    position: relative;
    margin-left: 2em;
}

.inugami-input-time-slots .time-slots .time-slot.first{
    margin-left: 0em;
}

.inugami-input-time-slots .time-slots .time-slot .separator{
    margin-left: 0.3em;
    margin-right: 0.3em;
}
.inugami-input-time-slots .time-slots .time-slot .input{
    border-radius: 10px;
    border-style: solid;
    border-width: 0.1em;
    border-color: grey;
    
}