<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--================================================================================================================
    = APPENDER
    =================================================================================================================-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{dd/MM HH:mm:ss}]|%logger|%-5level|%thread|%msg\n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <appender name="ELASTIC-DEFAULT" class="io.inugami.logs.obfuscator.appender.JsonAppender">
        <configuration>
            <mode>elasticSearch</mode>
            <host>http://localhost:9200/_bulk</host>
            <index>dev-demo-logs</index>
            <indexDatePattern>yyyy-MM-dd</indexDatePattern>
        </configuration>
        <encoder class="io.inugami.logs.obfuscator.encoder.ObfuscatorEncoder">
            <configuration>
                <forceNewLine>true</forceNewLine>
                <encodeAsJson>true</encodeAsJson>
                <additionalFields>
                    {
                    "groupId":"com.my.project",
                    "artifactId":"demo-webapp"
                    }
                </additionalFields>
            </configuration>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>

    <appender name="ELASTIC-IOLOG" class="io.inugami.logs.obfuscator.appender.JsonAppender">
        <configuration>
            <mode>elasticSearch</mode>
            <host>http://localhost:9200/_bulk</host>
            <index>dev-demo-iologs</index>
            <indexDatePattern>yyyy-MM-dd</indexDatePattern>
        </configuration>
        <encoder class="io.inugami.logs.obfuscator.encoder.ObfuscatorEncoder">
            <configuration>
                <forceNewLine>true</forceNewLine>
                <encodeAsJson>true</encodeAsJson>
                <additionalFields>
                    {
                    "groupId":"com.my.project",
                    "artifactId":"demo-webapp"
                    }
                </additionalFields>
            </configuration>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>

    <appender name="ELASTIC-PARTNERLOG" class="io.inugami.logs.obfuscator.appender.JsonAppender">
        <configuration>
            <mode>elasticSearch</mode>
            <host>http://localhost:9200/_bulk</host>
            <index>dev-demo-partnerlog</index>
            <indexDatePattern>yyyy-MM-dd</indexDatePattern>
        </configuration>
        <encoder class="io.inugami.logs.obfuscator.encoder.ObfuscatorEncoder">
            <configuration>
                <forceNewLine>true</forceNewLine>
                <encodeAsJson>true</encodeAsJson>
                <additionalFields>
                    {
                    "groupId":"com.my.project",
                    "artifactId":"demo-webapp"
                    }
                </additionalFields>
            </configuration>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>

    <appender name="ELASTIC-XLLOG" class="io.inugami.logs.obfuscator.appender.JsonAppender">
        <configuration>
            <mode>elasticSearch</mode>
            <host>http://localhost:9200/_bulk</host>
            <index>dev-demo-xllog</index>
            <indexDatePattern>yyyy-MM-dd</indexDatePattern>
        </configuration>
        <encoder class="io.inugami.logs.obfuscator.encoder.ObfuscatorEncoder">
            <configuration>
                <forceNewLine>true</forceNewLine>
                <encodeAsJson>true</encodeAsJson>
                <additionalFields>
                    {
                    "groupId":"com.my.project",
                    "artifactId":"demo-webapp"
                    }
                </additionalFields>
            </configuration>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>
    <appender name="ELASTIC-METRICS" class="io.inugami.logs.obfuscator.appender.JsonAppender">
        <configuration>
            <mode>elasticSearch</mode>
            <host>http://localhost:9200/_bulk</host>
            <index>dev-demo-metrics</index>
            <indexDatePattern>yyyy-MM-dd</indexDatePattern>
        </configuration>
        <encoder class="io.inugami.logs.obfuscator.encoder.ObfuscatorEncoder">
            <configuration>
                <forceNewLine>true</forceNewLine>
                <encodeAsJson>false</encodeAsJson>
                <additionalFields>
                    {
                    "groupId":"com.my.project",
                    "artifactId":"demo-webapp"
                    }
                </additionalFields>
            </configuration>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>
    <!--================================================================================================================
    = LOGGERS
    =================================================================================================================-->
    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>
    <logger name="org.hibernate">
        <level value="INFO"/>
    </logger>
    <logger name="logging.level.org.hibernate.SQL">
        <level value="DEBUG"/>
    </logger>

    <logger name="io.inugami">
        <level value="INFO"/>
    </logger>
    <logger name="com.zaxxer">
        <level value="INFO"/>
    </logger>

    <logger name="IOLOG" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ELASTIC-IOLOG" />
        <appender-ref ref="ASYNC_STDOUT" />

    </logger>

    <logger name="PARTNERLOG" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ELASTIC-PARTNERLOG" />
        <appender-ref ref="ASYNC_STDOUT" />
    </logger>


    <logger name="XLLOG" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ELASTIC-XLLOG" />
        <appender-ref ref="ASYNC_STDOUT" />
    </logger>

    <logger name="METRICS_LOG_SENDER" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ELASTIC-METRICS" />
    </logger>

    <!--================================================================================================================
    = ROOT
    =================================================================================================================-->
    <root level="DEBUG">
        <appender-ref ref="ASYNC_STDOUT"/>
        <appender-ref ref="ELASTIC-DEFAULT"/>
    </root>

</configuration>