<?xml version="1.0" encoding="UTF-8"?>
<configuration>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd/MM HH:mm:ss} %5p [%c:%L] - %m%n</pattern>
        </encoder>
    </appender>


    <logger name="org.eclipse.jetty">
        <level value="WARN"/>
        <appender-ref ref="STDOUT"/>
    </logger>


    <logger name="LOGGERS_TEST_DEBUG">
        <level value="DEBUG"/>
    </logger>
    <logger name="LOGGERS_TEST_INFO">
        <level value="INFO"/>
    </logger>
    <logger name="LOGGERS_TEST_WARN">
        <level value="WARN"/>
    </logger>
    <logger name="LOGGERS_TEST_ERROR">
        <level value="ERROR"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>