<div [class]="styleClass" [ngClass]="'jira-issues'">
    <ul class="jira-issues">
        <li *ngFor="let issue of issuesList" class="jira-issue">
                <article [ngClass]="'jira-issue'" [class]="issue.statusKeyword">
                        <a [href]="buildJiraUrl(issue)" target="_blank" class="jira-issue-link">
                            <header>
                                <span class="issue-id">{{issue.id}}</span>
                                <span class="issue-status">{{issue.status}}</span>
                                <span class="issue-title">{{issue.title}}</span>
                                <span class="issue-header-end"></span>
                            </header>
                        </a>
                        
                        <div class="jira-issue-content">
                            <div class="issue-custom-fields" *ngIf="issue.customFields">
                                <div class="issue-custom-fields-title"></div>
                                <ul class="issue-custom-fields-items">
                                    <li *ngFor="let field of issue.customFields" class="issue-custom-field">{{field}}</li>
                                </ul>
                            </div>
        
                            <div class="issue-affected-versions" *ngIf="issue.customFields">
                                <div class="issue-affected-versions-title"></div>
                                <ul class="issue-affected-versions-items">
                                    <li *ngFor="let version of issue.affectedVersion" class="issue-affected-version">{{version}}</li>
                                </ul>
                            </div>
                        </div>
                </article>
        </li>
    </ul>
</div>