<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="logTest" class="io.inugami.commons.test.logs.LogTestAppender">
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{dd/MM HH:mm:ss}]|%logger|%-5level|%thread|%msg\n</pattern>
        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logTest"/>
    </root>

</configuration>